<div class="main">
    <div class="mainDiv">
        <div class="timePicker">

            <div class="time">
                <label class="pfont">: תחילת שמירה</label>
                <!-- <ngx-mat-timepicker [(ngModel)]="startTime"></ngx-mat-timepicker> -->
                <div class="ngx-timepicker-field-example">
                    <ngx-timepicker-field [(ngModel)]="startTime" [format]="24" [defaultTime]="'00:00'"
                        [clockTheme]="customTheme"></ngx-timepicker-field>
                </div>

            </div>
            <div class="time">
                <label class="pfont">: סוף שמירה</label>
                <!-- <ngx-mat-timepicker [(ngModel)]="endTime"></ngx-mat-timepicker> -->
                <div class="ngx-timepicker-field-example">
                    <ngx-timepicker-field [(ngModel)]="endTime" [format]="24" [defaultTime]="'00:00'"
                        [clockTheme]="customTheme"></ngx-timepicker-field>
                </div>
            </div>
        </div>

        <div class="amount">
            <mat-label>: כמות שומרים</mat-label>
            <mat-form-field class="example-full-width">
                <input #input min="0" type="number" [(ngModel)]="amount" matInput (click)="selectInput(input)">
            </mat-form-field>
        </div>

        <div>
            <div class="btn">
                <button class="calcBtn" (click)="addNewAction()">חשב</button>
                <button class="clearBtn" (click)="clearAll()">נקה</button>
            </div>
        </div>
    </div>

    <div class="secondaryDiv" *ngIf="isAdd">
        <div class="details">
            <p class="pfont1">{{this.formatedHours}}: סה"כ שעות לשמירה</p>
            <p class="pfont2">{{this.timeOfShiftFormatted}}: משך כל שמירה</p>
        </div>
        <div class="btn2">
            <button class="pdfBtn" (click)="exportToPDF()" mat-flat-button
                color="warn"><mat-icon>description</mat-icon>PDF ייצוא
                לקובץ</button>
        </div>
        <div class="inputs">
            <div *ngFor="let input of inputs" class="input-container">
                <input type="text" [(ngModel)]="input.value" placeholder=" {{ input.startTime }}" matInput>
            </div>
        </div>
        <div class="btn3">
            <button class="shuffleBtn" (click)="shuffleInputValues()">ערבב</button>
        </div>
    </div>
</div>