/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';



html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('/assets/background2.jpg');
    background-size: cover;
    /* Adjusts the image size to cover the entire screen */
    background-repeat: repeat;
    /* Prevents the image from repeating */
    /* overflow: hidden; */

}

::-webkit-scrollbar {
    width: 0px;
    /* This will remove the scrollbar */
    background: transparent;
    /* Make scrollbar transparent */
}